<app-header></app-header>
<div style="margin-left:20px;">
  <div class="text-center mat-toolbar shadow">Add New Request</div>
  <div class="container">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="form-control">
      <p>
        <mat-form-field appearance="outline" class="mat-input-element">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description">
<!--          <mat-error *ngIf="checkError('description', 'required', addRequestForm)">Description is required</mat-error>-->
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input matInput [matDatepicker]="startDate" placeholder="Start Date" formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
<!--          <mat-error *ngIf="checkError('startDate', 'required', addRequestForm)">Start Date is required</mat-error>-->
        </mat-form-field>
        <mat-form-field class="m-lg-3">
          <input matInput [matDatepicker]="endDate" placeholder="End Date" formControlName="endDate">
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
<!--          <mat-error *ngIf="checkError('endDate', 'required', addRequestForm)">End Date is required</mat-error>-->
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" class="mat-input-element">
          <mat-label>Notes</mat-label>
          <input matInput formControlName="notes">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-select placeholder="Status" formControlName="status">
            <mat-option *ngFor="let status of statuses" [value]="status">
              {{status}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="m-lg-3">
          <mat-select placeholder="Area of Interest" formControlName="areaOfInterest">
            <mat-option *ngFor="let area of areaOfInterests" [value]="area">
              {{area}}
            </mat-option>
          </mat-select>
<!--          <mat-error *ngIf="checkError('areaOfInterest', 'required', addRequestForm)">Area of Interest is required-->
<!--          </mat-error>-->
        </mat-form-field>
      </p>
      <div *ngIf="request.resourceDTOS.length>0">
        <table class="table table-striped"> Resources
          <tr>
            <th>Note</th>
            <th>Seniority</th>
            <th>Skills</th>
            <th>Remove</th>
          </tr>
          <tr *ngFor="let res of request.resourceDTOS let i = index">
            <td>{{res.note}}</td>
            <td>{{res.seniority}}</td>
            <td><span *ngFor="let skill of res.skillDTOS">{{skill.skill}} ,</span></td>
            <td><a class="float-left" mat-icon-button color="primary" aria-label="Remove/clear"
                   (click)="removeResource(i)" matTooltip="Remove">
              <mat-icon>highlight_off</mat-icon>
            </a></td>
          </tr>
        </table>
      </div>
      <button type="button" class="btn-light" mat-flat-button color="primary" aria-label="Add Resource"
              (click)="openResourceDiag()" matTooltip="Add Resource">Add Resource
      </button>
      <p>
        <img mat-card-sm-image>
      </p>
      <button type="submit" [disabled]="!editForm.valid ">Update</button>
    </form>
  </div>
</div>
