<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body,h1 {font-family: "Raleway", sans-serif}
    body, html {height: 100%}
    .bgimg {
        min-height: 100%;
        background-position: center;
        background-size: cover;
    }
</style>
<body>

<div class="w3-top w3-bar w3-black">
    <a th:href="@{/}" class="w3-bar-item w3-button">Home</a>
    <div class="w3-right w3-hide-small">
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="w3-bar-item w3-button">Log Out</a>
        <a sec:authorize="!isAuthenticated()" th:href="@{http://localhost:4200/login}" class="w3-bar-item w3-button">Log In</a>
    </div>

</div>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
        Logo
    </div>
    <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top" style="color: #f45b69">REQUEST MANAGEMENT</h1>
        <hr class="w3-border-grey" style="margin:auto;width:40%">
        <p class="w3-large w3-center" style="color: aqua">Coming Soon</p>
    </div>
</div>

</body>
</html>
